/***INDEX MAIN***/

.product{
    margin-top: 25px;
}

.product-link:hover{
    text-decoration: none;
    transform: scale(1.05);
    transition-duration: 400ms;
}

.product img{
    object-fit: cover;
}

.product__infos{
    color: black;
}

.product__infos:hover{
    color: rgb(119, 116, 116);
}

.product__infos__title{
    font-size: 20px;
    font-weight: bold;
}

.product__infos__price{
    font-size: 16px;
}
